<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 history</title>
    <style>
        body{
            font-family: sans-serif;
        }

        table, tr, td, th{
            border-collapse: collapse;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>
        F1 app (under construction)
    </h1>
    {%block content%}
    {%endblock%}
    
</body>
</html>