{% extends 'base.html' %}


{% block content %}

<h3>{{circuit}}</h3>

{% if races %}
    <ul>
    {% for year, races_ in races %}
        <li>
            {{year}}
            {% for race in races_ %}
                {% if forloop.last %}
                    <a href={% url 'history:race_details' pk=race.pk %}>{{race}}</a>
                {% else %}
                    <a href={% url 'history:race_details' pk=race.pk %}>{{race}}</a>,
                {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock content %}