{% extends 'base.html' %}


{% block content %}

<h3>{{constructor}}</h3>

{% if races_count %}
    <p>Races: {{races_count}}</p>
{% endif %}


{% if highest_grid %}
    <p>Highest starting position: {{highest_grid.grid}} (x{{highest_grid.count}})</p>
{% endif %}

{% if highest_position %}
    <p>Highest race position: {{highest_position.grid}} (x{{highest_position.count}})</p>
{% endif %}

{% if drivers %}
<h3>Drivers</h3>
<ul>
    {% for year, drivers in drivers %}
        <li>
        {{year}} - 
        {% for k in drivers %}
            {% if forloop.last %}
                <a href = {% url 'history:driver_details' nick=k.nickname %}>{{k.name}} {{k.surname}}</a> 
            {% else %}
                <a href = {% url 'history:driver_details' nick=k.nickname %}>{{k.name}} {{k.surname}}</a>, 
            {% endif %}
        {% endfor %}
        </li>
    {% endfor %}
</ul>
{% endif %}


{% endblock content %}