{% extends 'base.html' %}


{% block content %}

<h3>{{constructor}}</h3>

{% if races_count %}
    <p>Races: {{races_count}}</p>
{% endif %}


{% if highest_grid %}
    <p>Highest starting position: {{highest_grid.grid}} (x{{highest_grid.count}})</p>
{% endif %}

{% if highest_position %}
    <p>Highest race position: {{highest_position.grid}} (x{{highest_position.count}})</p>
{% endif %}


{% if drivers %}
<h3>Drivers</h3>
<table class="table table-hover table-bordered">
    <tr class="table-secondary">
        <th>Year</th> 
        <th>Drivers</th> 
    </tr>
    {% for year, drivers in drivers %}
        <tr>
            <td>
                {{year}}
            </td>
            <td class="p-0">
                <ul class="list-group list-group-flush">
                    {% for k in drivers %}
                        <li class="list-group-item">
                            <a href = {% url 'history:driver_details' nick=k.nickname %}>{{k.name}} {{k.surname}}</a> 
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock content %}