{%extends 'base.html' %}

{% block content %}

<div class="row">
<div class="col-12 col-lg-6 my-2">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title">{{driver.name}} {{driver.surname}}</h3>
            
            <h6 class="card-subtitle mb-4 text-muted">
                {% if driver.code %}{{driver.code}}{% endif %}
                {% if driver.number %}{{driver.number}}{% endif %}
            </h6>

            
            {% if driver.birthday %}
                <p>Birthday: {{driver.birthday}}</p>
            {% endif %}

            {% if driver.nationality %}
                <p>Nationality: {{driver.nationality}} </p>
            {% endif %}
            
            <a href="{{driver.wiki_url}}" class="card-link">Wiki</a>
        </div>
    </div>
</div>
<div class="col-12  col-lg-6 my-2">
    <div class="card h-100">
        <div class="card-body">
            <h4 class="card-title">Sport stats</h4>


            {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}

            {% if races_count %}
                <p>Races: {{races_count}}</p>
            {% endif %}


            {% if highest_position %}
                <p>Highest race finish: {{highest_position.position}} (x {{highest_position.count}})</p>
            {% endif %}


            {% if highest_grid %}
                <p>Highest grid position: {{highest_grid.grid}} (x {{highest_grid.count}})</p>
            {% endif %}


            {% if podiums and highest_position and highest_position.position < 3 %}
                <p>Podiums: {{podiums}}</p>
            {% endif %}


            <table class="w-100">
            <tr>
                {% if first_race %}
                    <th>First race</th>
                {% endif %}
                {% if last_race %}
                    <th class="text-end">Last race</th>
                {% endif %}
            </tr>
            <tr>
                {% if first_race %}
                    <td><a  class="card-link" href={% url 'history:race_details' pk=first_race.pk %}>{{first_race.year}} {{first_race.name}}</a></td>
                {% endif %}
                {% if last_race %}
                    <td class="text-end"><a class="card-link" href={% url 'history:race_details' pk=last_race.pk %}>{{last_race.year}} {{last_race.name}}</a></td>
                {% endif %}
            </tr>
            </table>
        </div>
    </div>
</div>
</div>








{%if teams %}
<h3>Teams:</h3>

<div class="row">
<div class="col">
<table class="table table-hover table-bordered">
    <tr class="table-secondary ">
        <th>Year</th>
        <th>Teams</th>

    </tr>
    {% for year, tm in  teams %}
    <tr>
        <td>
            <a href={% url "history:season_details" pk=year %} >{{year}}</a>
        </td>
        <td class="p-0"> 
            <ul class="list-group list-group-flush">
                {% for k in tm %}
                    <li class="list-group-item">
                        <a href = {% url 'history:constructor_details' nick=k.nickname %}>{{k.name}}</a> 
                    </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
{% endif %}



{% if related_drivers %}
<h3>Related drivers:</h3>
<ul>
{% for k in related_drivers %}
    <li>
        <a href= {% url 'history:driver_details' nick=k.nickname %}>
            {{k.name}} {{k.surname}}
        </a>
    </li>
{% endfor %}
</ul>
{%endif%}


{% endblock content %}