{% extends 'base.html' %}


{% block content %}
<div class="row">
<div class="col">

<h2>Drivers</h2>


<div class="row">
  <ul class="pagination">
  {% for l in surname_letters %}
    {% if l == letter or l|upper == letter %}
        <li class="page-item active"><a class="page-link" href={% url "history:drivers_alphabetical" letter=l %}>{{l|upper}}</a></li>
    {% else %}
        <li class="page-item"><a class="page-link" href={% url "history:drivers_alphabetical" letter=l %}>{{l|upper}}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>


<div class="row">
{% for driver in drivers %}
    <div class="col-12 col-md-6">
        <div class="card m-1">
            <div class="card-body d-flex justify-content-between">
            <h4 class="card-title">{{driver}}</h4>
            <a href={% url "history:driver_details" nick=driver.nickname %} class="btn btn-outline-secondary stretched-link">View</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>



{% if drivers.paginator %}
    <div class="row">
    <div class="col d-flex justify-content-center my-3">
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page={{1}}">First</a></li>
            
            {% for i in drivers.paginator.page_range %}
                {% if i == drivers.number  %}
                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% elif i >= drivers.number|add:-3 and i <= drivers.number|add:3%}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="?page={{drivers.paginator.num_pages}}">Last</a></li>
        </ul>
        </nav>
    </div>
    </div> 
{% endif %}


</div>
</div>

{% endblock content %}
