{%extends 'base.html' %}

{% block content %}

<h2>
    {{driver}}
</h2>
{% if driver.wiki_url %}
    <h3><a href="{{driver.wiki_url}}">{{driver.name}} {{driver.surname}}</a></h3>
{% else %}
    <h3>{{driver.name}} {{driver.surname}}</h3>
{% endif %}
{% if driver.code %}
    <p>Code: {{driver.code}}</p>
{% endif %}
{% if driver.number %}
    <p>Number: {{driver.number}}</p>
{% endif %}
{% if driver.birthday %}
    <p>Birthday: {{driver.birthday}}</p>
{% endif %}

{% if driver.nationality %}
    <p>Nationality: {{driver.nationality}} </p>
{% endif %}


{% if races_count %}
    <p>Races: {{races_count}}</p>
{% endif %}

{% if wins %}
    <p>Wins: {{wins}}</p>
{% endif %}
{% if podiums %}
    <p>Wins: {{podiums}}</p>
{% endif %}

{% if pole_positions %}
    <p>Pole positions: {{pole_positions}}</p>
{% endif %}


{% if first_race %}
    <p>First race: <a href={% url 'history:race_details' pk=first_race.pk %}>{{first_race.year}} {{first_race.name}}</a></p> 
{% endif %}

{% if last_race %}
    <p>First race: <a href={% url 'history:race_details' pk=last_race.pk %}>{{last_race.year}} {{last_race.name}}</a></p> 
{% endif %}

{% if related_drivers %}
<h3>Related drivers:</h3>
<ul>
{% for k in related_drivers %}
    <li>
        <a href= {% url 'history:driver_details' nick=k.nickname %}>
            {{k.name}} {{k.surname}}
        </a>
    </li>
{% endfor %}
</ul>
{%endif%}


{%if teams %}
<h3>Teams:</h3>
<ul>
    {% for year, teams in  teams %}
        <li>
            {{year}} - 
            {% for k in teams %}
                {% if forloop.last %}
                    {% comment %} {{k.nickname}} {% endcomment %}
                    <a href = {% url 'history:constructor_details' nick=k.nickname %}>{{k.name}}</a> 
                {% else %}
                    {% comment %} {{k.nickname}} {% endcomment %}
                    <a href = {% url 'history:constructor_details' nick=k.nickname %}>{{k.name}}</a>, 
                {% endif %}
            {% endfor %}
            {% comment %} <a href = {% url 'history:constructor_details' nick=k.team.nickname %}>{{k.team}}</a> - {{k.year}} {% endcomment %}
        </li>
    {% endfor %}
</ul>
{% endif %}


{% endblock content %}