{% extends 'base.html' %}

{% block content %}

<h1>
    {{season}}
</h1>
<h1>
    {% if finished %}
        <sub>FINISHED</sub>
    {% else %}
        <sub>{{organized_races}}/{{total_races}}</sub>
    {% endif %}
</h1>

{% if previous_season %}
    <p>
        <a href={% url "history:season_details" pk=previous_season.year %}>Previous season({{previous_season.year}})</a>
    </p>
{% endif %}

{% if next_season %}
    <p>
        <a href={% url "history:season_details" pk=next_season.year %}>Next season({{next_season.year}})</a>
    </p>
{% endif %}


{% if drivers %}
    <h3>Drivers</h3>
    <table>
        <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Points</th>
        </tr>
        {% for k in drivers %}
        <tr>
            <td>
                {{k.position}}
            </td>
            <td>
                <a href={%url "history:driver_details" nick=k.driver.nickname %}>
                    {{k.driver}}
                </a>
            </td>
            <td>
                {{k.points|floatformat}}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}



{% if constructors %}
    <h3>Constructors</h3>
    <table>
        <tr>
            <th>Position</th>
            <th>Constructor</th>
            <th>Points</th>
        </tr>
        {% for k in constructors %}
        <tr>
            <td>
                {{k.position}}
            </td>
            <td>
                <a href={%url "history:constructor_details" nick=k.constructor.nickname %}>
                    {{k.constructor}}
                </a>
            </td>
            <td>
                {{k.points|floatformat}}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endif %}




{% endblock content %}